[submodule "kicad-library"]
	path = kicad-library
	url = ../kicad-library.git
[submodule "firmware/embassy"]
	path = firmware/embassy
	url = https://github.com/embassy-rs/embassy.git
[submodule "firmware/ssd1306"]
	path = firmware/ssd1306
	url = git@github.com:elagil/ssd1306.git
