on:
  push:
  workflow_dispatch:

name: CI

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Install just
        uses: extractions/setup-just@v3

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Cache build
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            firmware/loeti

      - name: Build
        run: just build

      - name: Lint
        run: just lint

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: |
            firmware/loeti/board_*/*.bin

  release:
    runs-on: ubuntu-latest
    needs: build_and_test
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            *
